{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signup" method="post" enctype="multipart/form-data">
    <label for="avatar">
      <img src="/" alt="" >
      <input type="file" name="avatar" id="avatar">
    </label>
    <input type="text" name="name" placeholder="Nome">
    <input type="email" name="email" placeholder="barber@gobarber.com">
    <input type="password" name="password" placeholder="Senha super-secreta">
    <label for="provider">
      <input type="checkbox" name="provider" id="provider">
      Sou cabeleireiro
    </label>
    <button type="submit">Fazer Cadastro</button>

    <a href="/">Já tenho cadastro</a>
  </form>
  <script>
    var avatarImg = document.querySelector('label[for="avatar"] img');
    var avatarInput = document.getElementById('avatar')

    avatarInput.onchange = function(e) {
      var imgFileURL = URL.createObjectURL(e.target.files[0])

      avatarImg.src = imgFileURL;
      avatarImg.classList = 'preview'
    }
  </script>
{% endblock %}
