{% extends '_layouts/auth.njk' %}

{% block body %}
  <form action="/signin" method="post">
    <img src="/images/logo.svg" alt="">
    <input type="text" name="email">
    <input type="password" name="password">
    <button type="submit">Fazer Login</button>
    <a href="/signup">Criar conta grátis</a>
  </form>
{% endblock %}
