{% extends '_layouts/app.njk' %}

{% block body %}
  <div class="content">
    <strong>Olá, {{user.name}}</strong>
    {% if user.provider === true %}
      {% include '_layouts/provider.njk' %}
    {% endif %}

    {% if user.provider === null %}
      {% include '_layouts/user.njk' %}
    {% endif %}

    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
